<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <% customers.forEach(customer => { %>

      <a class='list' <%= customers.name  %>"> <%= customers.email  %> </a>

    <% }) %>



  </body>
</html>
